<a href="https://colab.research.google.com/github/danielconormccarthy/first_project/blob/main/Daniel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Daniel Math Game

In [ ]:
name=input('Your name: ')
print("Hi " + name + ". Welcom to Daniel's math GAME!" )

score = 0
total_questions = 9

answer = input("Do you want to play this game? (Yes/No): ")

if answer.lower()=='yes':
    answer=input('Question 1: 34 + 66 = ')
    if answer == '100':
        score += 1
        # score = score + 1
        print('correct')
    else:
        print('Wrong Answer :(')

    answer=input('Question 2: 5 x 5 = ')
    if answer == '25':
        score += 1
        print('correct')
    else:
        print('Wrong Answer :(')

    answer=input('Question 3: 90 x 90 = ')
    if answer == '8100':
        score += 1
        print('correct')
    else:
        print('Wrong Answer :(')

    answer=input('Question 4: How many sides on a square: ')
    if answer == "4":
        score += 1
        print('correct')
    else:
        print('Wrong Answer :(')

    answer=input('Question 5: How many sides on a circle: ')
    if answer == "1":
        score += 1
        print('correct 😊')
    else:
        print('Wrong Answer :(')


    answer=input("Question 6: What is the country closest to Ireand? ")
    if answer == "UK":
        score += 1
        print('correct')

    elif answer == "United Kingdom":
        score += 1
        print('correct')

    elif answer == "United Kingdom of Great Britain and Northern Ireland":
        score += 1
        print('correct')

    elif answer == "Great Britain":
        score += 1
        print('correct')
    else:
        print('Wrong Answer :(')

    answer=input('Question 7: 0.50 ± 0.50 = ')
    if answer == "1" or answer == "0":
        score += 1
        print('correct 😊')
    else:
        print('Wrong Answer :(')

    answer=input('Question 8: 5 ± 1 = ')
    if answer == "6":
        score += 1
        print('correct 😊')
    elif answer == '4':
        score += 1
        print('correct 😊')
    else:
        print('Wrong Answer :(')

    print(name + ', thank you for Playing Daniel\'s math GAME.')
    mark=(score/total_questions)*100
    print('Marks obtained:', int(mark))
print('BYE!')

Your name: Daniel McCarthy
Hi Daniel McCarthy. Welcom to Daniel's math GAME!
Do you want to play this game? (Yes/No): yes
Question 1: 34 + 66 = 100
correct
Question 2: 5 x 5 = 25
correct
Question 3: 90 x 90 = 8100
correct
Question 4: How many sides on a square:
Wrong Answer :(
Question 5: How many sides on a circle:
Wrong Answer :(
Question 6: What is the country closest to Ireand?
Wrong Answer :(
Question 7: 0.50 ± 0.50 =
Wrong Answer :(
Question 8: 5 ± 1 =
Wrong Answer :(
Daniel McCarthy, thank you for Playing Daniel's math GAME.
Marks obtained: 33
BYE!

In [ ]:
a = 5
b = 2
if a == b:
  print("A and b is the same.")
elif a != b:
  if a > b:
    print('a is bigger')
  else:
    print('b is bigger')

a is bigger

In [ ]:
print('hskkkkk ""')
print("hskkkkk ''")

hskkkkk ""
hskkkkk ''

In [ ]:
ll = ['66', '44', '88', '54']
for number in ll:
  print(int(number)+1)

67
45
89
55

In [ ]:
ll = [66, 44, 88, 54]
for number in ll:
  print(str(number)[0])

6
4
8
5

https://developers.google.com/edu/python/

# Strings

Python has a built-in string class named "str" with many handy features.String literals can be enclosed by either double or single quotes, although single quotes are more commonly used. Backslash escapes work the usual way within both single and double quoted literals -- e.g. \n \' \". A double quoted string literal can contain single quotes without any fuss (e.g. "I didn't do it") and likewise single quoted string can contain double quotes. A string literal can span multiple lines, but there must be a backslash \ at the end of each line to escape the newline. String literals inside triple quotes, """ or ''', can span multiple lines of text.

Python strings are "immutable" which means they cannot be changed after they are created. Since strings can't be changed, we construct *new* strings as we go to represent computed values. So for example the expression ('hello' + 'there') takes in the 2 strings 'hello' and 'there' and builds a new string 'hellothere'.

Characters in a string can be accessed using the standard [ ] syntax, and like Java and C++, Python uses zero-based indexing, so if s is 'hello' s[1] is 'e'. If the index is out of bounds for the string, Python raises an error. The Python style (unlike Perl) is to halt if it can't tell what to do, rather than just make up a default value. The handy "slice" syntax (below) also works to extract any substring from a string. The len(string) function returns the length of a string. The [ ] syntax and the len() function actually work on any sequence type -- strings, lists, etc.. Python tries to make its operations work consistently across different types. Python newbie gotcha: don't use "len" as a variable name to avoid blocking out the len() function. The '+' operator can concatenate two strings. Notice in the code below that variables are not pre-declared -- just assign to them and go.

In [ ]:
d = 'Hell o_Daniel_and_Cheng     9           '
print(d)

Hell o_Daniel_and_Cheng     9

In [ ]:
d[1:4]

'ell'

In [ ]:
d[0:]

'Hell o_Daniel_and_Cheng     9           '

In [ ]:
len(d)

40

In [ ]:
s = 'hi' # s is stand for hi
print(s[1])          ## i
print(len(s))        ## 2
print(s + ' there')  ## hi there

i
2
hi there

In [ ]:
pi = 'The......'
print(type(pi))
##text = 'The value of pi is ' + pi      ## NO, does not work
text = 'The value of pi is '  + str(pi)  ## yes

print(text)

<class 'str'>
The value of pi is The......

In [ ]:
raw = r'this\t\n and that'

# this\t\n and that
print(raw)
print('this\t\n and that')
multi = """It was the best of times.
It was the worst of times."""

# It was the best of times.
#   It was the worst of times.
print(multi)

this\t\n and that
this
 and that
It was the best of times.
It was the worst of times.

⏰

In [ ]:

value = 2.791514
print('approximate value = {value:.5f}')  # approximate value = 2.79
print(f'approximate value = {value:.5f}')

# Key: Value
print('Hi')
car = {'tires':4, 'doors':2} # tesla
print(type(car))
print(f'car = {car}') # car = {'tires': 4, 'doors': 2}

approximate value = {value:.5f}
approximate value = 2.79151
Hi
<class 'dict'>
car = {'tires': 4, 'doors': 2}

In [ ]:
name = 'TK'
print('Hi name')
print(f'Hi {name}')

print('name is a cat')
print(f'{name} is a cat')

Hi name
Hi TK
name is a cat
TK is a cat

The "print" function normally prints out one or more python items followed by a newline. A "raw" string literal is prefixed by an 'r' and passes all the chars through without special treatment of backslashes, so r'x\nx' evaluates to the length-4 string 'x\nx'. "print" can take several arguments to change how it prints things out like setting "end" to "" to no longer print a newline after it finishes printing out all of the items. ⚾

In [ ]:

raw = r'this\t\n and that'

# this\t\n and that
print(raw)
print('this\t\n and that')

multi = "I have a car and\n a big bus in my room it was the best of times it was the \nworst of times it was the worst of times."

# It was the best of times.
#   It was the worst of times.
print(multi)

this\t\n and that
this
 and that
I have a car and
 a big bus in my room it was the best of times it was the
worst of times it was the worst of times.

In [ ]:
t = "daniel"
t.lower()

'daniel'

In [ ]:
t.upper()

'DANIEL'

In [ ]:
t = "      I like Chocolate    "
t.strip()

'I like Chocolate'

In [ ]:
t = "wert"
print(t.isalpha())
t = " "
print(t.isalpha())

True
False

In [ ]:

t = "4"
print(t.isdigit())
t = "t5 "
print(t.isdigit())

True
False

In [ ]:
t = " "
t.isspace()

True

In [ ]:
t = "I like a lot of chocolate."
print(t.startswith('I like a lot of chocolate.'))
print(t.startswith(' '))

False
True

In [ ]:
t = "asdddddvb"
print(t.startswith('asd'))
print(t.endswith('dvb'))

True
True

In [ ]:
print(t.endswith(' f'))
print(t.endswith(' off'))

False
True

In [ ]:
t = "I like a lot of chocolate."

print(t.find('off'))
print(t.find('o'))
print(t.find('on or off'))

-1
10
-1

In [ ]:
t = 'Hi there!'

print(t)
print(t.replace('there', 'everyone'))
print(t.replace('Hi', 'Go to'))
print(t.replace('!','.'))

Hi there!
Hi everyone!
Go to there!
Hi there.

In [ ]:
t = 'aaa,bbb,ccc,zzz'

l = t.split(',')
print(l)
print(l[1:3])

['aaa', 'bbb', 'ccc', 'zzz']
['bbb', 'ccc']

In [ ]:
t = ' place + '
t.join(['Frist', 'Second', 'Thrid', 'Forth'])

'Frist place + Second place + Thrid place + Forth'

In [ ]:
t = '0123456%%%%%789(10)(11)12131415161718192'
print(t[1::7])

1%()18












# List

Python has a great built-in list type named "list". List literals are written within square brackets [ ]. Lists work similarly to strings -- use the len() function and square brackets [ ] to access data, with the first element at index 0.

In [ ]:
colors = ['red', 'blue', 'green', 'red']
print(colors[0])    ## red
print(colors[2])    ## green
print(len(colors))  ## 3
print(colors[-1])

red
green
4
red

![image.png]()

Assignment with an = on lists does not make a copy. Instead, assignment makes the two variables point to the one list in memory.

In [ ]:
b = colors   ## Does not copy the list

![image.png]()

In [ ]:
happy_family = ['Daniel', 'Chloe', 'Max', 'Mom', 'Dad']
print(happy_family)

['Daniel', 'Chloe', 'Max', 'Mom', 'Dad']

In [ ]:
print(happy_family[4])
print(happy_family[-1])

Dad
Dad

In [ ]:
happy_family.append('dog')
happy_family.append('toy')
happy_family.append('book')

print(happy_family)

['Daniel', 'Chloe', 'Max', 'Mom', 'Dad', 'dog', 'toy', 'book']

In [ ]:
del happy_family[-1]
print(happy_family)

['Daniel', 'Chloe', 'Max', 'Mom', 'Dad', 'dog', 'toy']

In [ ]:
happy_family.remove('dog')
print(happy_family)

['Daniel', 'Chloe', 'Max', 'Mom', 'Dad', 'toy']

In [ ]:
happy_family.append('dog')
print(happy_family)

['Daniel', 'Chloe', 'Max', 'Mom', 'Dad', 'toy', 'dog']

In [ ]:
happy_family.append("door stop")
print(happy_family)

['Daniel', 'Chloe', 'Max', 'Mom', 'Dad', 'toy', 'dog', 'door stop']

In [ ]:
print("Hi " + happy_family[2])

Hi Max

In [ ]:
for name in happy_family:
  print('welcom ' + name)

  if name == 'Daniel':
    print("Let's go to the beach")
  elif name == 'Chloe':
    print("Let's watch a moive")
  elif name == 'Max':
    print("Let's play some games")
  elif name == 'Mom':
    print("hi Mom")

welcom Daniel
Let's go to the beach
welcom Chloe
Let's watch a moive
welcom Max
Let's play some games
welcom Mom
hi Mom
welcom Dad
welcom toy
welcom dog
welcom door stop

In [ ]:
Daniel

NameError: ignored